.dub
dub.selections.json
bin
license
license.o
owlchain-core
.DS_Store

*.swp

*.snippets

dependencies/vibe-sdlang/libvibe-sdlang.a

dependencies/clips-d/demo/clips-cli/clips-cli

dependencies/clips-d/demo/clips-cli/clips-cli

*.a
