@charset "utf-8";

/*header*/
header{position:relative;height:180px;margin-bottom:40px;text-align:center;background:url('../images/header_bg.png') no-repeat top center #242a42; }
header .content{position:relative; height:180px; margin-bottom:30px;}
header .content nav{position:absolute;left:0;bottom:0; z-index:10; }
header .content nav a , header content nav a:visited{display:inline-block; position:relative; padding:15px 20px; color:#a5abc5; font-size:14px;}
header .content nav a.on{ color:#FFF; }
header .content nav a:hover{ color:#c1c5d7; }
header .content nav a:active{ color:#00aeef; }
header .content nav a:hover:after ,header .content nav a.on:after{position:absolute; bottom:5px; left:0; width:100%; height:3px; background:#FFF; content:''; z-index: 10;}
/*footer*/
footer { position:fixed; bottom:0; left:0; width:100%; height:40px; background:#b6b7b8; z-index: 100;}
footer .logo {float:left; margin-top:3px; margin-left:25px; max-width:100px;height:auto;}
footer .logo img{width:100%; height:auto; vertical-align: top;}
footer .copyright{display:inline-block; margin-left:110px; padding-top:7px;color:#FFF; font-size:12px;}
/*article*/
body{ position:relative;  background:#ebecec; }
body article.wrap{position:relative; overflow: hidden; width:100%; }
body article.wrap  > section{ display:none;  margin-bottom:50px;}
body article.wrap  > section.on{ display:block; }

/*=== Trust-Contact =================================================*/
/*editor*/
textarea{ display:block; width:100%; padding:3px 10px 80px 20px; color:#FFF; font-size:14px; line-height:160%; overflow-y: scroll; background:#000 no-repeat; box-sizing: border-box;}
.line{ display:block; width:100%; padding:10px 0; border-bottom:1px solid #242a42; }
.line span > img{display:inline-block; margin-right:10px;}
.fc_w{ color:#FFF; }
.bg_b{background:#242a42; }

/*title-anchor*/
.title-menu{ position:relative; border-bottom:1px solid #242a42; padding:10px 0;}
.title-menu:after{display:block;width:100%;clear:both;content:'';}
.title-menu dt{ float: left;}
.title-menu dt .icon{display:inline-block; margin-right:10px;}
.title-menu dd{ float: right;}
.title-menu dd.prefix{ padding:5px 10px; color:#FFF; font-size:14px; background: #242a42;}
.title-menu dd.prefix > *{ display:inline-block; margin-left:20px; vertical-align: middle; }
/*title-inputBox*/
.title_form { position:relative; border-bottom:1px solid #242a42; padding:10px 0; }
.title_form:after{ display:block; width:100%; clear:both; content:''; }
.title_form dt{ display:block; position:absolute; top:10px; left:0; }
.title_form dd{  padding-left:80px; }
.title_form dd.anc { position:absolute; top:10px; right:0;  padding:0;  }
/*title-searchBox*/
.search_form { position:relative; padding:10px 0;border-bottom:1px solid #242a42; }
.search_form > * { vertical-align: middle; }
.search_form:after{ display:block; width:100%; clear:both; content:''; }
.search_form dt{display:block; position: absolute; top:5px; left:0; }
.search_form dd{ padding: 0 95px 0 180px;   }
.search_form dd input {width:100%; margin-top:-10px;}
.search_form dd.anc { position:absolute; top:0; right:0;  padding:0;  }
/*editor-wrap*/
.editor-wrap{width:100%!important;}
.editor-wrap .info{ margin:10px 0; padding:0 80px; border:1px solid #898989; background:#98a8ba; }
.editor-wrap .info .btn-wrap{ border-bottom:1px solid #FFF; text-align: center;}
.editor-wrap .info .btn-wrap a {display:inline-block; margin:5px 3px;}
.editor-wrap .info .list{padding:10px 0;}
.editor-wrap .info .list span{ color:#FFF; font-size:14px;}
.editor-wrap .info .list span.tit{ display:inline-block; position:relative; width:80px; margin-right:20px; font-weight: bold; }
.editor-wrap .info .list span.tit:after{ position:absolute; right:0; top:0; content:':'; }
.editor-wrap .title-menu dt { padding:12px 0 0 12px;}
/*main*/
.button_wrap{text-align: right;}
a.anc_b{ display:inline-block; padding:14px 11px; color:#FFF; background:#1b75bb; }
a.anc_b:hover{ background:#489fe2; }
a.anc_b:active{ background:#00aeef; }
a.anc_b.disabled{ background:#8da1b1; }

a.anc_gb{ display:inline-block; padding:5px 10px; color:#FFF; border:1px solid transparent; background:#1b75bb; }
a.anc_gb:hover{ border-color:#FFF; background:#428bc4; }
a.anc_gb:active{ background:#00aeef; }
a.anc_gb.disabled{ background:#959595; }
a.anc_gb.disabled:hover{ border:1px solid transparent; background:#959595; }

/*s1*/
.s1 .submit-wrap{ width:464px; margin:15px auto; text-align: center; }
.s1 .submit-wrap a{ display:block; }
.content dl dd input{ width:100%; }
.content dl dd select { width: 200px; padding:5px 10px;}
.content dl dd select option { padding:8px; }

/*s2*/
/* table*/
table{width:100%;}
table thead th{padding:5px 20px;color:#464646;font-weight:normal;background:#cccccc;}
table tbody th{padding:5px 20px;border-bottom:1px solid #242a42;color:#2a375f;font-size:14px;font-weight:bold;text-align:center;}
table td{padding:10px 5px;border-bottom:1px solid #b7b7b7; font-size:14px; text-align:center; letter-spacing: -0.5px; }

.s2  table td.address{ color:#448ccb; }

/*s3*/
.s3 {}
.s3 .content{margin-top:30px;}
.s3 dl { margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #242a42;  }
.s3 dl dt  { height:66px; padding:25px 25px 0; border-bottom:1px solid #898989; color:#FFF; background:#586490; cursor: pointer; }
.s3 dl dt strong {}
.s3 dl dt span { display:block; padding-left: 20px; }
.s3 dl dd { display:none; }
.s3 dl.on dd{ display:block; }
.s3 .line{ position:relative; margin-bottom: 50px; padding:15px 0; border-bottom:1px solid #242a42;  color:#000; font-size:18px; }
.s3 .line h1{margin-bottom: 10px;}
.s3 .line p{ padding-left:30px; font-size:14px; line-height: 160%;}
.s3 .line a{ display:inline-block;  vertical-align: middle; }
/*s4*/
.s4 .submit-wrap{ width:464px; margin:15px auto; text-align: center; }
.s4 .submit-wrap a{ display:block; }

/*popup*/
article.popup{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index: 500;}
article.popup.on{display:block;}
article.popup .layer{ padding:30px; text-align: center;}
/*paper*/
article.popup .paper img{ }
article h2{margin:30px 0;}
