@charset "utf-8";
/*==================================================
   CSS initialization & CSS Reset
==================================================*/
html { text-shadow: 1px 1px 1px rgba(0,0,0,0.004); text-stroke: 0.3px; /*마치 맥의 폰트처럼 두께 라인을 살려준다. */  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; font-smoothing: antialiased;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a {margin:0; padding:0;}
body{background:#FFFFFF;}
/*html, body { height:100%; }*/
fieldset,img {border:0 none;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
input,select,textarea,button {vertical-align:middle;}
input,textarea {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
button {border:0 none; background-color:transparent; cursor:pointer;}
table {border-collapse:collapse; border-spacing:0;}
body {-webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0;}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox;}
/* button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0;} */
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none;}
address,caption,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
caption {overflow:hidden; position: absolute; width:0; height:0; line-height:0; text-indent:-9999px;}
input, button {outline:0;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #111; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #111; }
input::-moz-placeholder, textarea::-moz-placeholder {color: #111; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #111; }
/*------------------ 기본 색상 및 anchor 설정 ------------------*/
body,p,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button{font-weight:normal;font-family:'Arial', 'Apple Gothic', sans-serif; word-wrap:break-word; }
a,a:visited{color:#111;text-decoration:none;}
/*=== Class Style =========================================*/
.clfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.desc{background:#e1e1e1;color:#111;border:1px dashed #111;padding:20px;}
.none{display:none;}
/*=== Layout ===============================================*/
/*layout*/
.col{}
.col:after{display:block;clear:both;content:'';}
.col > *{float:left;}
.col.col-1{width:960px;}/*1단*/
.col.col-2 > *{width:50%;}/*2단*/
.col.col-3 > *{width:33.333%;}/*3단*/
.col.col-4 > *{width:25%;}/*4단*/
.col.col-5 > *{width:20%;}/*5단*/
.col.col-31 >.col-lg{width:66.66%;}/*3:1분할*/
.col.col-31 >.col-sm{width:33.33%;}/*3:1분할*/
.right{text-align:right;}
/*=== Common =================================================*/
hr{display:block;width:100%;height:1px;background:#242a42;border:0;}
article{display:block;}
/*background*/
.bg_b{background:#242a42!important;}
.bg_g{background:#ebecec!important;}
.bg_w{background:#fff!important;}
/*popup-bg*/
.bg_or{background:#d75324!important;}
.bg_gr{background:#898989!important;}
.bg_gr{background:#5bb531!important;}
.content{max-width:800px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box;}
.trans{-webkit-transition: all 0.3s; transition: all 0.3s;}
/*body>wrap*/
article.wrap{position:relative;overflow:hidden;width:100%;}
article.wrap > section{position:absolute;transform:translateX(3000px);-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
article.wrap > section.on{position:relative;transform: translateX(0);}
/*header*/
article.wrap header{position:relative;}
article.wrap header a.close{display:block;position:relative;padding:10px 20px 0;color:#fff;font-size:18px;}
article.wrap header a.close span{position:absolute;left:50px;}
article.wrap header a.config {display:inline-block;position:absolute;top:0;right:50px;padding:10px;}
/*footer*/
body > footer{display:block;width:100%;height:80px;background:#b6b7b8;}
body > footer .content{padding-top:20px;}
body > footer .content > * {float:left;}
body > footer .content .logo {width:30%;padding-left:5%;padding-right:5%;;box-sizing:border-box;}
body > footer .content .copyright {width:50%;margin-top:10px;font-size:10px;color:#FFF;text-align:left;}
body > footer .content .right {width:10%;text-align:center;}
/*==================================================
	Media Query style
==================================================*/
@media only screen and (max-width: 1270px) { }