@charset "utf-8";
/*=== Common =================================================*/
hr{display:block;width:100%;height:1px;background:#242a42;border:0;}
article{display:block;}
/*background*/
.bg_b{background:#242a42!important;}
.bg_g{background:#ebecec!important;}
.bg_w{background:#fff!important;}
/*popup-bg*/
.bg_or{background:#d75324!important;}
.bg_gr{background:#898989!important;}
.bg_gr{background:#5bb531!important;}
.content{max-width:800px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box;}
.trans{-webkit-transition: all 0.3s; transition: all 0.3s;}
/*body>wrap*/
article.wrap{position:relative;overflow:hidden;width:100%;}
article.wrap > section{display:none;-webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
article.wrap > section.on{display:block;}
/*header*/
article.wrap header{position:relative;}
article.wrap header a.close{display:block;position:relative;padding:10px 20px 0;color:#fff;font-size:18px;}
article.wrap header a.close span{position:absolute;left:50px;}
article.wrap header a.config {display:inline-block;position:absolute;top:0;right:50px;padding:10px;}
/*footer*/
body > footer{display:block;width:100%;height:80px;background:#b6b7b8;}
body > footer .content{padding-top:20px;}
body > footer .content > * {float:left;}
body > footer .content .logo {width:30%;padding-left:5%;padding-right:5%;;box-sizing:border-box;}
body > footer .content .copyright {width:50%;margin-top:10px;font-size:10px;color:#FFF;text-align:left;}
body > footer .content .right {width:10%;text-align:center;}
/*toggle*/
.toggle{padding-top:20px;padding-bottom:20px;}
.toggle dl{position:relative;margin-bottom:20px;}
.toggle dl dt{position:relative;max-height:70px;padding:15px 0;color:#FFF;background:#242a42;cursor:pointer;}
.toggle dl dt > *{vertical-align:middle;}
.toggle dl dt:after{position:absolute;top:20px;right:30px;content:url("/images/ico_toggle_open.png");opacity:0.5;}
.toggle dl.on dt:after{opacity:1;}
.toggle dl dt i{display:inline-block;margin-left:50px;}
.toggle dl dt span{display:inline-block;padding-left:30px;}
.toggle dl dd{display:none;background:#FFF;}
.toggle dl dd .wrap{padding:20px;border-bottom:1px solid #242a42;}
.toggle dl.on dd{display:block;}
.toggle dl dd table{width:100%;}
.toggle dl dd table th{padding:10px 20px;border-bottom:1px solid #242a42;color:#2a375f;font-size:18px;font-weight:bold;text-align:center;} 
.toggle dl dd table td{padding:10px 20px;border-bottom:1px solid #242a42;text-align:center;} 
/*=== Dashboard =================================================*/
/*header*/
.da header{display:block;background:url('/images/header_bg.jpg') #242a42 no-repeat; background-position: center top;}
.da header .logo{height:130px;}
.da header .logo a{display:block;padding:17px 0 0 25px;}
.da header .account{margin-left:45px;height:130px;}
.da header .account:after{display:block;}
.da header .account li{float:left;margin-top:30px;margin-right:50px;}
.da header .account li a{display:table-cell;height:80px;vertical-align: bottom;}
.da header .account li a img{vertical-align: bottom;}
.da header .account li.config{float: right;margin-right:0;}
/*nav*/
.da nav{padding-bottom:10px;}
.da nav section {margin:10px 0;padding:20px 0;border-radius: 5px;box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);background:linear-gradient(#FFF, #f6f6f6);}
.da nav section:hover{background:linear-gradient(to bottom, #fff, #ccc);}
.da nav .pay{float:left;width:60%;padding:0 5%;font-size:24px;box-sizing:border-box;}
.da nav .pay div.;address{text-align:left;letter-spacing:-0.5px;}
.da nav .pay p.coin{margin-top:10px;color:#454f74;font-size:48px;font-weight:bold;letter-spacing:-1.5px;text-align:right;}
.da nav .pay p.coin em{color:#3f66a0;font-size:16px;font-weight:bold;letter-spacing:0.2px;}
.da nav .ctl {float:right;width:40%;height:100%;}
.da nav .ctl li{position:relative;float:left;width:28%;height:100%;color:#FFF;text-align:center;}
.da nav .ctl li:before{position:absolute;left:0;top:0;width:1px;height:100%;background:#ced0d9;  content:'';}
.da nav .ctl li.freez{width:44%;}
 /*article.info-wrap*/
.da .info-wrap{display:block;padding-bottom:200px;background:#ebecec;}
.da .info-wrap .content {padding-top:20px;}
.da .info-wrap a{box-sizing:border-box;}
.da .info-wrap a:nth-child(odd){padding-right:10px;}
.da .info-wrap a:nth-child(even){padding-left:10px;}
.da .info-wrap a .wrap{display:block;position:relative;min-height:200px;border-radius:5px;}
.da .info-wrap a .wrap.info{background:#47617f;}
.da .info-wrap a .wrap.reward{background:#8c96a1;}
.da .info-wrap a .wrap.voting{background:#448ba8;}
.da .info-wrap a .wrap.trust {background:#35618b;}
.da .info-wrap a:hover .wrap{background:#0597cd;}
.da .info-wrap a .wrap h5{padding:30px 0 0 30px;} 
.da .info-wrap a .wrap h6{padding:10px 0 0 30px;color:#FFF;font-size:14px;font-weight:bold;}
.da .info-wrap a .wrap p{position:absolute;left:25px;bottom:25px;width:90%;color:#FFF;font-size:12px;box-sizing: border-box;}
.da .info-wrap a .wrap.reward p{padding-left:100px;}
.da .info-wrap a .wrap p em{display:inline-block;margin:auto 20px;font-size:40px;font-weight: bold;}
.da .info-wrap a .wrap p span{font-size:14px;}
/*=== Accout ====================================================*/
/*header*/
.ac header {height:130px;background:url('/images/account_top_bg.jpg') #242a42 no-repeat; background-position:center top;}
.ac header .wrap{display:block;margin-top:10px;text-align:center;}
.ac header .wrap .icon{display:inline-block;}
.ac header .wrap .account{display:inline-block;margin-left:20px;text-align:left;vertical-align: top;}
.ac header .wrap .account p{color:#FFF;font-size:18px;}
.ac header .wrap .account p em{font-size:30px;}
/*balance*/
.ac .balance{}
.ac .balance li{padding:20px 100px 20px 0;color:#FFF;text-align:right;}
.ac .balance li ~ li{border-top:1px solid #FFF;}
.ac .balance li em{font-size:20px;}
.ac .balance li span{display:inline-block;width:150px;margin:0 30px;font-size:36px;}
/*nav*/
.ac nav{padding:20px 30px;box-sizing:border-box;}
.ac nav .wrap{padding:20px 0;border-radius:5px;color:#FFF;background:#d75324;box-sizing:border-box;}
.ac nav.freezing .wrap{background:#44a0d4;}
.ac nav .fr-cont{display:none;}
.ac nav .un-fr-cont{display:block;}
.ac nav .wrap .img{float:left;width:200px;margin-left:50px;margin-top:10px;}
.ac nav .wrap .txt{float:right;width:420px;color:#FFF;padding-right:100px;box-sizing: border-box;}
.ac nav .wrap button{display:inline-block;float:right;margin-top:20px;padding:10px 20px;color:#d75324;font-size:20px;font-weight:bold;background:#FFF;}
.ac nav.freezing .fr-cont{display:block;}
.ac nav.freezing .un-fr-cont{display:none;}
.ac nav.freezing .fr-cont .txt{width:470px;}
.ac nav.freezing .fr-cont p.date{font-size:24px;}
.ac nav.freezing .fr-cont p.amount{margin-top:20px;}
.ac nav.freezing .fr-cont p.amount em{display:inline-block;margin-right:30px;font-size:18px;}
.ac nav.freezing .fr-cont p.amount span{display:inline-block;font-size:30px;}
.ac nav.freezing .fr-cont p.amount span:after{padding-left:10px;font-size:14px;content:'BOS'}
/*form*/
.ac .form{width:100%;}
.ac .form li{padding:10px 30px 10px 50%;border-bottom: 1px solid #242a42;}
.ac .form label{display:block;font-size:18px;}
.ac .form input{padding:10px 20px;border:1px solid #242a42;}
.ac .form .btn-wrap{margin-top:30px;}
/*=== Block Info ====================================================*/
.bl header {height:130px;background:url('/images/info_top_bg.png') #242a42 no-repeat; background-position:center top;}
.bl header .wrap{display:block;margin-top:30px;text-align:center;}
.bl header .wrap .icon{display:inline-block;}
.bl header .wrap .tit{display:inline-block;margin-left:20px;color:#FFF;font-size:30px;text-align:left;vertical-align: top;}
.bl .info-wrap {display:block;min-height: 500px;}
.bl .info-wrap table{width:100%;}
.bl .info-wrap table th{padding:10px 20px;border-bottom:1px solid #242a42;color:#2a375f;font-size:18px;font-weight:normal;text-align:center;}
.bl .info-wrap table td{padding:15px 20px;border-bottom:1px solid #acacac;color:#172653;font-size:18px;text-align:center;}
/*=== Configuration ====================================================*/
.co header {height:130px;background:url('/images/config_top_bg.png') #242a42 no-repeat; background-position:center top;} 
.co header .wrap{display:block;margin-top:20px;text-align:center;}
.co header .wrap .icon{display:inline-block;}
.co header .wrap .tit{display:inline-block;margin-left:20px;color:#FFF;font-size:30px;text-align:left;vertical-align: top;}


/*=== Popup ====================================================*/
.popup{display:none;position:fixed;top:0;right:0;bottom:0;left:0;width:100%;min-width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:10;}
.popup.on{display:block;}
/*header*/
.popup .layer{display:none;position:absolute;top:50%;left:50%;margin-left:-280px;margin-top:-380px; width:560px;height:760px;background:#FFF;overflow: hidden;}
.popup .layer header{padding:33px 0;color:#FFF;font-size:30px;background:#2a375f;text-align: center;}
.popup .layer header i{position:absolute;top:20px;margin-left:-60px;}
/*article*/
.popup .layer article{display:block;overflow-y:auto;width:100%;text-align:center;}
.popup .layer article p{font-size:30px;margin-bottom:20px;}
/*footer*/
.popup .layer footer{display:block;position:absolute;bottom:0;width:100%;padding:33px 0;background:#66a0c9;text-align: center;}
.popup .layer footer a{display:inline-block;position:relative;color:#FFF;font-size:30px;}
.popup .layer footer a:after{position:absolute;top:0;right:-80px;;content:url('/images/ico_next_arrow.png');}
/*
@media only screen and (max-width: 680px) {
	nav{width:100%;padding-left:30px;padding-right:30px;}
	article section .pay{width:100%;}
	article section .ctl{width:100%;}
	div.info ul{width:100%;}
	div.info ul li{float:none;width:100%;}
}
*/