@charset "utf-8";
/*=== Common =================================================*/
/*background*/
.bg_b{background:#242a42;}
.bg_g{background:#ebecec;}
.bg_w{background:#fff;}
.content{max-width:800px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box;}
.trans{-webkit-transition: all 0.3s; transition: all 0.3s;}
/*body>wrap*/
article.wrap{position:relative;overflow:hidden;width:100%;}
article.wrap > section{display:none;-webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
article.wrap > section.on{display:block;}
/*footer*/
footer{display:block;width:100%;height:80px;background:#b6b7b8;}
footer .content{padding-top:20px;}
footer .content > * {float:left;}
footer .content .logo {width:30%;padding-left:5%;padding-right:5%;;box-sizing:border-box;}
footer .content .copyright {width:50%;margin-top:10px;font-size:10px;color:#FFF;text-align:left;}
footer .content .right {width:10%;text-align:center;}
/*=== Dashboard =================================================*/
/*header*/
.da header{display:block;background:url('/images/header_bg.jpg') #242a42 no-repeat; background-position: center top;}
.da header .logo{height:130px;}
.da header .logo a{display:block;padding:17px 0 0 25px;}
.da header .account{margin-left:45px;height:130px;}
.da header .account:after{display:block;}
.da header .account li{float:left;margin-top:30px;margin-right:50px;}
.da header .account li a{display:table-cell;height:80px;vertical-align: bottom;}
.da header .account li a img{vertical-align: bottom;}
.da header .account li.config{float: right;margin-right:0;}
/*nav*/
.da nav{padding-bottom:10px;}
.da nav section {margin:10px 0;padding:20px 0;border-radius: 5px;box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);background:linear-gradient(#FFF, #f6f6f6);}
.da nav section:hover{background:linear-gradient(to bottom, #fff, #ccc);}
.da nav .pay{float:left;width:60%;padding:0 5%;font-size:24px;box-sizing:border-box;}
.da nav .pay div.;address{text-align:left;letter-spacing:-0.5px;}
.da nav .pay p.coin{margin-top:10px;color:#454f74;font-size:48px;font-weight:bold;letter-spacing:-1.5px;text-align:right;}
.da nav .pay p.coin em{color:#3f66a0;font-size:16px;font-weight:bold;letter-spacing:0.2px;}
.da nav .ctl {float:right;width:40%;height:100%;}
.da nav .ctl li{position:relative;float:left;width:28%;height:100%;color:#FFF;text-align:center;}
.da nav .ctl li:before{position:absolute;left:0;top:0;width:1px;height:100%;background:#ced0d9;  content:'';}
.da nav .ctl li.freez{width:44%;}
 /*article.info-wrap*/
.da .info-wrap{display:block;padding-bottom:200px;background:#ebecec;}
.da .info-wrap .content {padding-top:20px;}
.da .info-wrap a{box-sizing:border-box;}
.da .info-wrap a:nth-child(odd){padding-right:10px;}
.da .info-wrap a:nth-child(even){padding-left:10px;}
.da .info-wrap a .wrap{display:block;position:relative;min-height:200px;border-radius:5px;}
.da .info-wrap a .wrap.info{background:#47617f;}
.da .info-wrap a .wrap.reward{background:#8c96a1;}
.da .info-wrap a .wrap.voting{background:#448ba8;}
.da .info-wrap a .wrap.trust {background:#35618b;}
.da .info-wrap a:hover .wrap{background:#0597cd;}
.da .info-wrap a .wrap h5{padding:30px 0 0 30px;} 
.da .info-wrap a .wrap h6{padding:10px 0 0 30px;color:#FFF;font-size:14px;font-weight:bold;}
.da .info-wrap a .wrap p{position:absolute;left:25px;bottom:25px;width:90%;color:#FFF;font-size:12px;box-sizing: border-box;}
.da .info-wrap a .wrap.reward p{padding-left:100px;}
.da .info-wrap a .wrap p em{display:inline-block;margin:auto 20px;font-size:40px;font-weight: bold;}
.da .info-wrap a .wrap p span{font-size:14px;}
/*=== Accout ====================================================*/
/*
.ac{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background:#242a42;z-index:10;transform: translate3d(100%,0,0)}
*/
/*header*/
.ac header {height:130px;background:url('/images/account_top_bg.jpg') #242a42 no-repeat; background-position:center top;}
.ac header a.close{display:block;padding:10px 20px 0;color:#fff;font-size:18px;}
.ac header a.close span{display:inline-block;margin-top:-10px;padding-left:10px;}
.ac header .wrap{display:block;margin-top:10px;text-align:center;}
.ac header .wrap .icon{display:inline-block;}
.ac header .wrap .account{display:inline-block;margin-left:20px;text-align:left;vertical-align: top;}
.ac header .wrap .account p{color:#FFF;font-size:18px;}
.ac header .wrap .account p em{font-size:30px;}
/*balance*/
.ac .balance{}
.ac .balance li{padding:20px 100px 20px 0;color:#FFF;text-align:right;}
.ac .balance li ~ li{border-top:1px solid #FFF;}
.ac .balance li em{font-size:20px;}
.ac .balance li span{display:inline-block;width:150px;margin:0 30px;font-size:36px;}
/*nav*/
.ac nav{padding:20px 30px;box-sizing:border-box;}
.ac nav .wrap{padding:20px 0;border-radius:5px;color:#FFF;background:#d75324;box-sizing:border-box;}
.ac nav .wrap.freezing{background:#44a0d4;}
.ac nav .wrap .img{float:left;width:200px;margin-left:50px;margin-top:10px;}
.ac nav .wrap .txt{float:right;width:420px;color:#FFF;padding-right:100px;box-sizing: border-box;}
.ac nav .wrap button{display:inline-block;float:right;margin-top:20px;padding:10px 20px;color:#d75324;font-size:20px;font-weight:bold;background:#FFF;}
 /*toggle*/
.ac .toggle{width:100%;padding:20px 0;background:#ebecec;}
.ac .toggle dl{position:relative;margin-bottom:20px;}
.ac .toggle dl dt{position:relative;max-height:70px;padding:20px 0;color:#FFF;background:#242a42;}
.ac .toggle dl dt:after{position:absolute;top:12px;right:30px;content:url("/images/ico_toggle_open.png");opacity:0.5;}
.ac .toggle dl.on dt:after{opacity:1;}
.ac .toggle dl dt i{position: absolute;left:30px;top:5px;}
.ac .toggle dl dt span{padding-left:100px;}
.ac .toggle dl dd{display:none;background:#FFF;}
.ac .toggle dl dd .wrap{padding:20px;border-bottom:1px solid #242a42;}
.ac .toggle dl.on dd{display:block;}
.ac .toggle dl dd table{width:100%;}
.ac .toggle dl dd table th{padding:10px 20px;border-bottom:1px solid #242a42;color:#2a375f;font-size:18px;font-weight:bold;text-align:center;} 
.ac .toggle dl dd table td{padding:10px 20px;border-bottom:1px solid #242a42;text-align:center;} 
.ac .form{width:100%;}
.ac .form li{padding:10px 30px 10px 50%;border-bottom: 1px solid #242a42;}
.ac .form label{display:block;font-size:18px;}
.ac .form input{padding:10px 20px;border:1px solid #242a42;}
.ac .form .btn-wrap{margin-top:30px;}

 

/*
@media only screen and (max-width: 680px) {
	nav{width:100%;padding-left:30px;padding-right:30px;}
	article section .pay{width:100%;}
	article section .ctl{width:100%;}
	div.info ul{width:100%;}
	div.info ul li{float:none;width:100%;}
}
*/